{% extends "base.html.twig" %} 

{% block body %}
<div class="contenedor">
  <div class="row">
    <h3 class="mt-5 mb-5">Create form</h3>
    <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
                {{ form(form) }}
            {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
